.Banner
  background-image url("bannerBackground.png")
  background-repeat no-repeat
  background-size 76%
  background-position 200% 35%
  background-color $secondaryColor
  display block
  padding 2em 1em

  &-text
    color $primaryText
    display block
    font-size 2.5em
    width 80%