.FilterMenu
  margin-top 3em

  &-title
    background-color: #cd0063;
    color: #fff;
    padding: 0.5em;
    font-weight: normal;

  &-searchBoxContainer
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;