.IdolCard

  &-body
    display: flex;

  &-unidolized
    width: 50%;

  &-idolized
    width: 50%;

  &-image
    width: 100%;
  
  &-footer
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    background-color: #FFB3D8;
    border: .2px solid #80003E;
  
  &-addCard
    color: #80003E;
  
  &-info
    width: 30%;
    align-items: flex-end;
  
  &-type
    margin-right: 35%;
    color: #80003E;
  
  &-avaible
    color: #80003E;