.InfoBox
  background-color white

  &-title
    background-color #E6006F
    padding .5em
    text-align center
    color white
    font-weight normal
    font-size 2em

  &-infoContainer
    padding 0.5em
    box-sizing border-box
  
  &-info
    text-align: center;
    width: 80%;
    font-size: 1em;
  &-text
    text-align: center;
    font-size: 1.2em;
  
  &-producers
    width: 10%;
  
  &-image
    width: 100%;