.Layout
  display flex

  &-left
    width 100%

  &-homepage
    width 70%

  &-cards
    width 75%
  
  &-profile
    display flex
    width 100%

  &-signup, &-signin
    height 92vh
    background-color white
  


  &-info
    display flex
    justify-content space-around
    margin 1.5em auto
    width 90%
  
  &-infoBoxContainer
    width 45%
  
  &-presentBoxContainer
    width 26%  

  &-sliderContainer
    width 80%
    margin 1.5em auto
  
  


  

