.Layout
  display flex

  &-left
    width 70%
  
  // &-homepage
  //   margin 1em 0
  //   padding-top 4em

  &-info
    display flex
    justify-content space-around
    margin 1.5em auto
    width 90%
  
  &-infoBoxContainer
    width 45%
  
  &-presentBoxContainer
    width 26%  

  &-sliderContainer
    width 80%
    margin 1.5em auto
  
  


  

