.Menu
  display flex
  background-color #ff66b0
  border-radius .5em
  overflow hidden
  
  &-item
    flex-grow 1
  
    &:hover
      background-color $primaryColor
  
  &-link
    color white
    display block
    text-align center
    padding .5em 0