.Navigation 

  &-list
    display flex
    align-items center
  
  &-item
    flex-grow 1
    text-align center

  
  &-link
    color $text
    padding 1em 0
    display block
    font-size .9em

  &-itemAvatar
    width 10%
  
  &-itemAvatarLink
    display flex
    align-items center

  &-avatarContainer
    width 25%
    min-width 25%

  
  &-button
    border none
    background-color transparent
    width 100%