.Right
  
  &-homepage,
  &-cards
    position fixed
    height 100%
    bottom 0
    right 0

  &-homepage
    width 40%

  &-cards
    width 25%
    top 3em
    background-color #E6006F
    
  &-favoriteIdolContainer
    height: 100%;
    max-width: 85%;
    max-height: 100%;
    margin: 0 auto;
  
  &-followBoxContainer
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 25%;
    border-radius: .5em;
    overflow: hidden;