.UserInfo
  width 65%
  &-body
    display: flex;
    justify-content: space-around;
  
  &-avatarContainer
    width: 10%;
  
  &-about
    width: 60%;
  
  &-goalsContainer
    padding: 2em;
    text-align: center;
    box-sizing: border-box;

  &-title
    font-size: 5em;
    text-transform: uppercase;
    color: #E6006F;
  
  &-footerList
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  
  &-item
    width: 25%;
    box-sizing: border-box
    background-color: $primaryColor;

    &:hover
      background-color #CD0063

  &-link
    display: block;
    box-sizing: border-box;
    color: white;
    padding: 1.5em;

  &-linkTitle
    font-weight: bold;
    font-size: 0.9em;
    display: block;
    text-align: left;
  
  &-linkValue
    font-size: 0.8em;
    display: block;
    text-align: center;