doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    title Document
    link(href='https://fonts.googleapis.com/css?family=Maven+Pro', rel='stylesheet')
    link(rel='stylesheet', href='/app.css')
  body
    // Container
    #container.Container
      #header-container
      #layout-container
    // /Container
    script(src='/app.js')