doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    title Document
    link(href='https://fonts.googleapis.com/css?family=Maven+Pro', rel='stylesheet')
    link(rel='stylesheet', href='app.css')
  body
    // Container
    #container.Container
      // Header
      header#header-container.Header
        .Logo
          h1.Logo-title School Idol Tomodachi
        // Navigation
        .Container-navigationContainer
          nav.Navigation
            ul.Navigation-list
              li.Navigation-item
                a.Navigation-link(href='#') +Cards
              li.Navigation-item
                a.Navigation-link(href='#') + Idols
              li.Navigation-item
                a.Navigation-link(href='#') + Songs
              li.Navigation-item
                a.Navigation-link(href='#') + Evens
              li.Navigation-item
                a.Navigation-link(href='#') + Fun
              li.Navigation-item
                a.Navigation-link(href='#') + Players
              li.Navigation-item.Navigation-itemAvatar
                a.Navigation-link.Navigation-itemAvatarLink(href='#')
                  .Navigation-avatarContainer
                    .Avatar
                      img.Avatar-image(src='avatar.png', alt='avatar')
                  span.Avatar-username Archerx
              li.Navigation-item
                button.Navigation-link.Navigation-button ...
      // /Header
      // Layout
      section#layout-container.Layout
        section.Layout-left
          // Info
          .Layout-info
            // InfoBox
            .Layout-infoBoxContainer
              .InfoBox
                h2.InfoBox-title School Idol Tomodachi
                .InfoBox-infoContainer
                  .InfoBox-info.line
                    p.InfoBox-text
                      | is crowdfunded by our Idol Devotees 
                      a.link(href='#') Nyaaaaa
                      | , 
                      a.link(href='#') OtakuReborn
                      | , our Idol Producer 
                      a.link(href='#') nicoahegao
                      |  and 141 idols-addicted donators
                  .InfoBox-producers.line
                    a.InfoBox-producer(href='#')
                      img.InfoBox-image(src='producer.png', alt='Nyaaaaa')
                    a.InfoBox-producer(href='#')
                      img.InfoBox-image(src='producer.png', alt='OtakuReborn')
                    a.InfoBox-producer(href='#')
                      img.InfoBox-image(src='producer.png', alt='nicoahegao')
            // /InfoBox
            // PresentBox
            .Layout-presentBoxContainer
              a.PresentBox(href='#')
                img.PresentBox-info(src='present.png', alt='')
            // /PresentBox
          // /Info
          // Slider
          #slider-container.Layout-sliderContainer
            .Slider
              img.Slider-placeholderImage(src='event.jpg', alt='event')
          // /Slider
          // Main Content
          section#main-content.Layout-mainContainer
            // Main
            section.Main
              // Menu
              ul.Menu
                li.Menu-item
                  a.Menu-link(href='#') Following
                li.Menu-item
                  a.Menu-link(href='#') Hot
                li.Menu-item
                  a.Menu-link(href='#') New
                li.Menu-item
                  a.Menu-link(href='#') All
              // /Menu
              // Comments Container
              section.Main-commentsContainer
                // CommentBox
                .CommentBox
                  .CommentBox-avatarContainer
                    // Avatar
                    .Avatar
                      img.Avatar-image(src='avatar.png', alt='avatar')
                    // /Avatar
                  // Comment
                  .CommentBox-commentContainer
                    .Comment
                      span.Comment-date Oct. 23, 2016, 3:34 a.m.
                      span.Comment-user Archerx EN
                      p.Comment-content
                        | What if KLab give us Ship Badges? Like you would play a duet song and if you only play it with the specific singers, you'd get the badge? wouldn't it be a great idea?
                      .Comment-infoContainer
                        ul.Comment-details.CommentMenu
                          a.CommentMenu-link(href='#') + Like
                          a.CommentMenu-link(href='#') 87
                          a.CommentMenu-link(href='#') + Write comment
                          a.CommentMenu-link(href='#') Comments
                          a.CommentMenu-link(href='#') + Report
                  // /Comment
                // /CommentBox
                // CommentBox
                .CommentBox
                  .CommentBox-avatarContainer
                    // Avatar
                    .Avatar
                      img.Avatar-image(src='avatar.png', alt='avatar')
                    // /Avatar
                  // Comment
                  .CommentBox-commentContainer
                    .Comment
                      span.Comment-date Oct. 23, 2016, 3:34 a.m.
                      span.Comment-user Archerx EN
                      p.Comment-content
                        | What if KLab give us Ship Badges? Like you would play a duet song and if you only play it with the specific singers, you'd get the badge? wouldn't it be a great idea?
                      .Comment-infoContainer
                        ul.Comment-details.CommentMenu
                          a.CommentMenu-link(href='#') + Like
                          a.CommentMenu-link(href='#') 87
                          a.CommentMenu-link(href='#') + Write comment
                          a.CommentMenu-link(href='#') Comments
                          a.CommentMenu-link(href='#') + Report
                  // /Comment
                // /CommentBox
                // CommentBox
                .CommentBox
                  .CommentBox-avatarContainer
                    // Avatar
                    .Avatar
                      img.Avatar-image(src='avatar.png', alt='avatar')
                    // /Avatar
                  // Comment
                  .CommentBox-commentContainer
                    .Comment
                      span.Comment-date Oct. 23, 2016, 3:34 a.m.
                      span.Comment-user Archerx EN
                      p.Comment-content
                        | What if KLab give us Ship Badges? Like you would play a duet song and if you only play it with the specific singers, you'd get the badge? wouldn't it be a great idea?
                      .Comment-infoContainer
                        ul.Comment-details.CommentMenu
                          a.CommentMenu-link(href='#') + Like
                          a.CommentMenu-link(href='#') 87
                          a.CommentMenu-link(href='#') + Write comment
                          a.CommentMenu-link(href='#') Comments
                          a.CommentMenu-link(href='#') + Report
                  // /Comment
                // /CommentBox
                // CommentBox
                .CommentBox
                  .CommentBox-avatarContainer
                    // Avatar
                    .Avatar
                      img.Avatar-image(src='avatar.png', alt='avatar')
                    // /Avatar
                  // Comment
                  .CommentBox-commentContainer
                    .Comment
                      span.Comment-date Oct. 23, 2016, 3:34 a.m.
                      span.Comment-user Archerx EN
                      p.Comment-content
                        | What if KLab give us Ship Badges? Like you would play a duet song and if you only play it with the specific singers, you'd get the badge? wouldn't it be a great idea?
                      .Comment-infoContainer
                        ul.Comment-details.CommentMenu
                          a.CommentMenu-link(href='#') + Like
                          a.CommentMenu-link(href='#') 87
                          a.CommentMenu-link(href='#') + Write comment
                          a.CommentMenu-link(href='#') Comments
                          a.CommentMenu-link(href='#') + Report
                  // /Comment
                // /CommentBox
                // CommentBox
                .CommentBox
                  .CommentBox-avatarContainer
                    // Avatar
                    .Avatar
                      img.Avatar-image(src='avatar.png', alt='avatar')
                    // /Avatar
                  // Comment
                  .CommentBox-commentContainer
                    .Comment
                      span.Comment-date Oct. 23, 2016, 3:34 a.m.
                      span.Comment-user Archerx EN
                      p.Comment-content
                        | What if KLab give us Ship Badges? Like you would play a duet song and if you only play it with the specific singers, you'd get the badge? wouldn't it be a great idea?
                      .Comment-infoContainer
                        ul.Comment-details.CommentMenu
                          a.CommentMenu-link(href='#') + Like
                          a.CommentMenu-link(href='#') 87
                          a.CommentMenu-link(href='#') + Write comment
                          a.CommentMenu-link(href='#') Comments
                          a.CommentMenu-link(href='#') + Report
                  // /Comment
                // /CommentBox
            // /Main
          // /Main Content
      // /Layout
      .Right
        .Right-favoriteIdolContainer
          .FavoriteIdol
        .Right-followBoxContainer
          .FollowBox
            a.FollowBox-link(href='#')
              | Sigue a School Idol Tomodachi en Twitter
            .FollowBox-followContainer
              a.PresentBox(href='#')
                img.PresentBox-info(src='present.png', alt='')
    // /Container

    script(src="app.js")
