$primaryColor = #E6006F
$secondaryColor = #FFAC18
$title = #FFFFFF
$primaryText = #FFFFFF
$secondaryText = lightgray

.link
  color $primaryColor

.line
  display: inline-block;
  vertical-align: middle;

.buttonBox
  padding: .5em;