$primaryColor = #E6006F
$secondaryColor = #FFAC18
$title = #FFFFFF
$primaryText = #FFFFFF
$secondaryText = lightgray

.link
  color $primaryColor

.line
  display: inline-block;
  vertical-align: middle;

.buttonBox
  padding: .5em;

.box
  margin 1em 0

.subtitle
  color: white;
  font-size: .9em;
  font-weight: normal;

.button
    background-color: #CD0063;
    border: 1px solid #9A004A;
    padding: 0.5em 1em;
    color: white;

.boxShadow
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);