.Navigation 

  &-list
    display flex
  
  &-item
    flex-grow 1
    text-align center

  
  &-link
    color $text
    padding 1em 0
    display block

  &-itemAvatar
    width 10%
  
  &-itemAvatarLink
    display flex

  &-avatarContainer
    width 25%
    min-width 25%

  
  &-button
    border none
    background-color transparent
    width 100%