@import './styles/normalize'
@import './styles/reset'
@import './styles/Helpers'
@import './styles/Components/Header'
@import './styles/Components/Logo'
@import './styles/Components/Navigation'
@import './styles/Components/Avatar'
@import './styles/Components/Layout'
@import './styles/Components/InfoBox'
@import './styles/Components/PresentBox'
@import './styles/Components/Slider'
@import './styles/Components/Main'
@import './styles/Components/Menu'
@import './styles/Components/CommentBox'
@import './styles/Components/CommentMenu'

body
  font-family 'Maven Pro', sans-serif

.border
  border 1px solid red

.Container
  background-color darkred
  
  &-navigationContainer
    width 60%


.Right
  position fixed
  width 40%
  height 100%
  bottom 0
  right 0

  &-favoriteIdolContainer
    height 100%

.FavoriteIdol
  background-image url("./../assets/maki2Cover.png")
  background-repeat no-repeat
  height 100%
  background-size 165%
  background-position left 10px bottom 10%
  background-position-x 50%

.FollowBox
  background-image url('./../assets/followBackground.png')
  background-repeat no-repeat



// div.cover {
//   position fixed 
//   top -50% 
//   left -50% 
//   width 200% 
//   height 200%
// }

// img.cover {
//   position absolute 
//   top 0 
//   left 0 
//   right 0 
//   bottom 0 
//   margin auto 
//   min-width 50%
//   min-height 50%
//   overflow-x hidden
// }


