@import './styles/normalize'
@import './styles/reset'
@import './styles/Helpers'
@import './styles/Components/Header'
@import './styles/Components/Logo'
@import './styles/Components/Navigation'
@import './styles/Components/Avatar'
@import './styles/Components/Layout'
@import './styles/Components/InfoBox'
@import './styles/Components/PresentBox'
@import './styles/Components/Slider'
@import './styles/Components/Main'
@import './styles/Components/Menu'
@import './styles/Components/CommentBox'
@import './styles/Components/CommentMenu'
@import './styles/Components/Comment'
@import './styles/Components/Right'
@import './styles/Components/FavoriteIdol'
@import './styles/Components/FollowBox'
@import './styles/Components/Banner'
@import './styles/Components/Cards'
@import './styles/Components/IdolCard'
@import './styles/Components/FilterMenu'
@import './styles/Components/SearchBox'
@import './styles/Components/FilterBox'
@import './styles/Components/FilterIdol'
@import './styles/Components/StatBox'
@import './styles/Components/CheckBox'
@import './styles/Components/ChooseBox'
@import './styles/Components/SelectBox'
@import './styles/Components/GroupBox'
@import './styles/Components/Signup'
@import './styles/Components/Signin'

body
  font-family 'Maven Pro', sans-serif

.border
  border 1px solid red

.Container
  // background-image url('background-winter.png')
  // background-repeat no-repeat
  // background-size cover
  // background-position 50%
  height 100vh

  &-homepage
    background-image url('background-winter.png')
    background-repeat no-repeat
    background-size cover
    background-position 50%
  
  &-navigationContainer
    width 60%

#header-container
  height 3em  
  
